<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     
      
        <class name="users.Asc_Login_035"/>
        <class name="users.Asc_Home_045_Test"/>
        <class name="users.Asc_Services_048_Test"/>
        <class name="users.Asc_Services_049_Test"/>
        <class name="users.Asc_Experiences_050_Test"/>
        <class name="users.Asc_Cilents_051_Test"/>
        <class name="users.Asc_Portfolio_053_Test"/>
        <class name="users.Asc_Teams_054_Test"/>
        <class name="users.Asc_ContactUs_072_Test"/>
        <class name="users.Asc_Ascenders_075"/>
    
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
